<body>
    <div class="container mt-5">
        <h1>Cadastrar Especialidade</h1>
        <form id="cadastrarEspecialidadeForm" action="/cadastrarEspecialidade" method="POST">
            <label class="form-label" for="desc_especialidade">Descrição da Especialidade:</label>
            <input class="form-control type="text" id="desc_especialidade" name="desc_especialidade" required>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
